[defaults]
inventory         = inventory/hosts.cfg
roles_path        = roles
stdout_callback   = yaml
callbacks_enabled = profile_tasks

[privilege_escalation]
become        = false
become_method = sudo
